@use '../utilities/breakpoints' as *;

.u-wrapper {
  width: 46rem;
  max-width: 46rem;
  margin: 0 auto;

  @include devices(tablet) {
    width: 100%;
    margin: 0;
  }
}

.Content {
  display: grid;
  grid-template-columns: 1fr 1fr;

  background-color: var(--white);
  border-radius: 1.875rem;

  overflow: hidden;

  @include devices(tablet) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    border-radius: 0;
  }
}

.Main {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  height: 100dvh;

  background-color: var(--background);

  @include devices(tablet) {
    display: block;
  }
}
