@use '../utilities/breakpoints' as *;

.Result {
  padding: 38px 54px 3.4375rem;
  background: linear-gradient(var(--light-slate), var(--light-royal));

  text-align: center;

  display: grid;
  gap: 2.1875rem;

  border-radius: 0 1.875rem 1.875rem 0;

  @include devices(tablet) {
    border-radius: 0 0 1.875rem 1.875rem;
  }

  &-h1 {
    font-size: var(--font-size-m);
    font-weight: 700;
    color: var(--light-lavender);
  }

  &-score {
    width: 12.5rem;
    aspect-ratio: 1 / 1;
    display: grid;
    gap: 0.5rem;
    margin: 0 auto;

    background: linear-gradient(var(--violet-blue), var(--persian-blue));
    border-radius: 100%;
  }

  &-number {
    font-size: var(--font-size-xl);
    font-weight: 800;
    color: var(--white);
    align-self: end;
    line-height: 1;
  }

  &-of {
    font-size: var(--font-size-body);
    font-weight: 700;
    color: var(--light-lavender);
    align-self: start;
  }

  &-h2 {
    font-size: var(--font-size-l);
    font-weight: 700;
    color: var(--white);
    margin-bottom: 16px;
  }

  &-p {
    font-size: var(--font-size-body);
    color: var(--light-lavender);
    max-width: 25ch;
    margin: 0 auto;

    @include devices(tablet) {
      max-width: 35ch;
    }
  }
}
